#container{
    position: absolute;
    top:50vh;
    left:50vw;
    transform: translate(-50%,-50%);
    background: #ccc;
    padding: 10px;
}
#inputDiv{
    background: rgba(255, 255, 255, 0.4);
    width:200px;
    margin-bottom: 5px;
    padding:5px;
}
#inputString{
    display: block;
    height: 25px;
    text-align: right;
    width:100%;
}
#textBox{
    text-align: right;
    padding:0px;
    font-size:16px;
    width:100%;
    background: transparent;
    border:none;
}
.btnRow{
    display:flex;
    flex-direction: row;
    width:100%;
}
.btn{
    width:25%;
    height: 40px;
}